* {
  
  box-sizing: border-box;
}

body{
  border: 1px solid blue;
}

main{
    /* border: 1px solid rgb(13, 202, 139); */
    display: flex;
    margin: 10px;
    
    align-items: flex-start;
    gap:20px;

}
.evaluation_journal{
    border: 1px solid rgb(209, 132, 15);
    /*width:80%;   */
    flex:2;

}

.team_details{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    /*width:20%; */
    flex:1;
    padding: 10px;
    
}

.team_details img{
    /*border-radius: 50%;*/
}

.team_details ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.ex_student details ul {
    list-style:square;
}